@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --fontPrimary: "Space Grotesk", sans-serif;
  --fontSecondary: "Kanit", sans-serif;
  --fontThird: "Bebas Neue", sans-serif;

  --fs-heading: 2.5rem;
}

@media (min-width: 577px) {
  :root {
    --fs-heading: 4rem;
    --fs-600: 2rem;
    --fs-500: 1.3rem;
    --fs-400: 1rem;
    // --fs-300: .9rem
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--fontPrimary);
}

header {
  .container {
    .text-wrapper {
      margin-inline: auto;
      max-width: 990px;
      text-align: center;

      h6 {
        font-size: var(--fs-500);
      }

      h1 {
        font-size: var(--fs-heading);
        font-weight: 600;
      }

      p {
        font-size: var(--fs-500);
      }
    }
  }
}

#about {
  .container {
    .text-wrapper {
      margin-inline: auto;
      max-width: 772px;

      h2 {
        font-size: var(--fs-600);
      }

      p {
        font-size: var(--fs-500);
      }
    }

    .box-wrapper {
      p {
        font-size: var(--fs-400);
      }
    }
  }
}

#testimoni {
  .container {
    .text-wrapper {
      text-align: center;

      h5 {
        font-size: var(--fs-600);
      }

      h6 {
        font-size: var(--fs-500);
      }

      p {
        font-size: var(--fs-400);
      }
    }
  }
}

#benefit {
  .container {
    .text-wrapper {
      h2 {
        font-size: var(--fs-600);
      }

      h6 {
        font-size: var(--fs-400);
      }
    }

    .box-wrapper {
      display: grid;
      gap: 20px;
      grid-template-columns: 2fr 2fr;

      .box-container {
        border: 1px solid #000;
        padding: 30px;

        h6 {
          font-size: var(--fs-400);
        }

        p {
          font-size: var(--fs-400);
        }
      }
    }
  }
}

#price {
  .container {
    .text-wrapper {
      h2 {
        font-size: var(--fs-600);
      }

      p {
        font-size: var(--fs-400);
      }

      h5 {
        font-size: var(--fs-500);
      }

      h6 {
        font-size: var(--fs-500);
      }
    }

    .price-wrapper {
      display: grid;
      grid-template-columns: 2fr 2fr;
    }
  }
}